# Port server API
PORT=3000

# Connection String MongoDB
# Untuk MongoDB lokal: mongodb://127.0.0.1:27017/tandain_db
# Untuk MongoDB Atlas: mongodb+srv://<username>:<password>@cluster.mongodb.net/tandain_db
MONGODB_URI=mongodb://127.0.0.1:27017/tandain_db

# Mode Lingkungan (development / production / test)
NODE_ENV=development

# JWT Configuration
JWT_SECRET=tandain_super_secret_jwt_key_2026_change_in_production
JWT_EXPIRES_IN=8h
